#top-right {
  height: 300px;
  width: 300px;
  border: 30px solid black;
  border-left: 15px solid black;
  border-bottom: 15px solid black;
  border-top-right-radius: 100%;
  background-color: #FF3F30;
}

.clickable {
  pointer-events: auto;
}

.unclickable {
  pointer-events: none;
}

#top-right:hover {
  cursor: pointer;
}

#top-right:focus {
  box-shadow: inset 3px 10px 100px #ff291a;
  background: linear-gradient(to left, #FF3F30, #ff584d, #ff584d, #FF3F30);
  outline: none;
}