#top-right {
  height: 300px;
  width: 300px;
  border: 30px solid black;
  border-left: 15px solid black;
  border-bottom: 15px solid black;
  border-top-right-radius: 350px;
  background-color: #FF3F30;
}

#top-right:active {
  box-shadow: inset 3px 10px 100px #ff291a;
  background: linear-gradient(to left, #FF3F30, #ff584d, #ff584d, #FF3F30);
}