#bottom-right {
  height: 300px;
  width: 300px;
  border: 30px solid black;
  border-left: 15px solid black;
  border-top: 15px solid black;
  border-bottom-right-radius: 100%;
  background-color: #FFFF01;
}

.clickable {
  pointer-events: auto;
}

.unclickable {
  pointer-events: none;
}

#bottom-right:hover {
  cursor: pointer;
}

#bottom-right:focus {
  box-shadow: inset 3px 10px 100px #e6e600;
  background: linear-gradient(to left, #ffff01, #ffff66, #ffff66, #ffff01);
  outline: none;
}

#bottom-right:active {
  box-shadow: inset 3px 10px 100px #e6e600;
  background: linear-gradient(to left, #ffff01, #ffff66, #ffff66, #ffff01);
}