#bottom-right {
  height: 300px;
  width: 300px;
  border: 30px solid black;
  border-left: 15px solid black;
  border-top: 15px solid black;
  border-bottom-right-radius: 350px;
  background-color: #FFFF01;
}

#bottom-right:hover {
  cursor: pointer;
}

#bottom-right:active {
  box-shadow: inset 3px 10px 100px #e6e600;
  background: linear-gradient(to left, #ffff01, #ffff4d, #ffff4d, #ffff01);
}