#bottom-right {
  height: 300px;
  width: 300px;
  border: 30px solid black;
  border-left: 15px solid black;
  border-top: 15px solid black;
  border-bottom-right-radius: 350px;
  background-color: #FFFF01;
}