<div id="controls">
  <img src="../../assets/images/logo.png" alt="MB Logo" />
  <div id="name">
    <span id="simon">simon</span>
  </div>
  <div id="display-and-buttons">
    <div id="start">
      <button id="start-button">
      </button>
      <span>START</span>
    </div>
    <div id="count">05
      <div id="screen">
      </div>
    </div>
    <div id="strict">
      <div id="strict-light-background">
        <div id="strict-light-foreground">
        </div>
      </div>
      <button id="strict-button">
      </button>
      <span>STRICT</span>
    </div>
  </div>
  <div id="on-off">
    <span id="off">OFF</span>
    <div id="outer">
      <div id="switch">
      </div>
    </div>
    <span id="on">ON</span>
  </div>
</div>
