@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');

#controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  width: 300px;
  border: 20px solid black;
  border-radius: 300px;
  background-color: lightgrey;
}

img {
  margin-top: 15px;
  height: 50px;
  width: 50px;
}

#name {
  font-family: 'Alfa Slab One', cursive;
  font-size: 5em;
  margin-top: -20px;
}