#top-left {
  height: 300px;
  width: 300px;
  border: 30px solid black;
  border-right: 15px solid black;
  border-bottom: 15px solid black;
  border-top-left-radius: 350px;
  background-color: #0FB81D;
}

#top-left:hover {
  cursor: pointer;
}

#top-left:active {
  box-shadow: inset 3px 10px 100px #0da51a;
  background: linear-gradient(to left, #0FB81D, #13ec25, #13ec25, #0FB81D);
}