#bottom-left {
  height: 300px;
  width: 300px;
  border: 30px solid black;
  border-right: 15px solid black;
  border-top: 15px solid black;
  border-bottom-left-radius: 100%;
  background-color: #05B5FF;
}

.clickable {
  pointer-events: auto;
}

.unclickable {
  pointer-events: none;
}

#bottom-left:hover {
  cursor: pointer;
}

#bottom-left:focus {
  box-shadow: inset 3px 10px 100px #00a1e6;
  background: linear-gradient(to left, #05B5FF, #4dc9ff, #4dc9ff, #05B5FF);
  outline: none;
}